page-home {

    #container {
        //margin: 0 auto;
        //border: 1px solid white;
        width: 100%;
        height: 100%;
      }

      .bgColor{
          background-color: #181817;
          color: #e0761f;
      }

      .feedback-ques-style-1{
        margin: 5%;
        font-size: 2.5em;
        color: #e0761f;
        text-align: center;
        margin-top: 50%;
        position: absolute;
      }

      .makeBgTransparent{
          background: transparent;
      }
      
}
